# Project Two: Predicting Iris Flowers

<div>
<img src="../images/flower.jpg" alt="flower image" width="30%"/>
</div>

## Introduction
---

Flowers are a common in more ways than you think. From displays of affection to enviormental impact, flowers are needed. Iris flower data set is a very popular dataset dating back to 1950s when the paper, "", was created to demonstrate how machine learning works. In this project, we'll be diving into prediciting flowers based on their diffrent aspects.

As mentioned above, we'll be using the [iris dataset](https://www.kaggle.com/datasets/uciml/iris). It will be used predict flower specis and also test to see efficient our predications are. I also want to use the dataset to target something else like the biggest pedals and spetal.
- t
- t
- t

The dataset itself is really straight forward with only 4 features and 150 rows. Here are all the features in detail:
<table>
    <tr>
        <td><strong>Feature</strong></td>
        <td><strong>Description</strong></td>
    </tr>
    <tr>
        <td>Id</td>
        <td>Row Number</td>
    </tr>
    <tr>
        <td>SepalLengthCm</td>
        <td>Length of the sepal</td>
    </tr>
    <tr>
        <td>SepalWidthCm</td>
        <td>Width of the sepal</td>
    </tr>
    <tr>
        <td>PetalLengthCm</td>
        <td>Length of the Petal</td>
    </tr>
    <tr>
        <td>PetalWidthCm</td>
        <td>Width of the Petal</td>
    </tr>
    <tr>
        <td>Species</td>
        <td>Species of the iris. Either being Iris-setosa, Iris-versicolor, or Iris-virginica</td>
    </tr>
</table>
As a little refresher, the sepal is the leaf-like parts that enclose and protect the flower bud, and the petal is the modified leaf that surrounds the reproductive parts of a flower and usually contains the color.

In [3]:
#Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#dataset
df = pd.read_csv('iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

## Pre-processing
---

Since this dataset is so popular for machine learning and it's so small with little features, it seems likely this data is already clean. Though let's just make sure kaggle didn't have any import errors and/or the dataset wasn't poorly uploaded.

### Dropping nulls

In [5]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

No nulls are here so we don't have to worry about it.

### Duplicates

In [6]:
print(df.duplicated().value_counts())

False    150
dtype: int64

No duplicates either which is nice, lets move on to more interesting steps

### Checking types

In [7]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

Types also aren't an issue which confirms the db looks okay, for now.

## Basic visualization
---

One last thing before we start using a ML model, lets find visualize some of the data.